<header>
    <nav class="header-toolbar navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">
        <fa-icon [icon]="['fas', 'terminal']"  transform=""></fa-icon> 
        Rubber Duck Debugging
      </a>
    </nav>
</header>
<div class="content container-fluid ">
  <ul class="px-0">
    <li class="d-flex flex-row">
      <div class="message-avatar mx-3 my-2">
        <img src="assets/img/canardMan.png" height="75px" width="75px" class="rounded-circle"/>
      </div>
      <div class="message-content d-flex flex-column">
        <div class="alert alert-dark border-0">
          <div class="message-header d-flex flex-row mb-1">
            <span>Canard Man :</span>
          </div>
          <div class="message-text">
            <span>Hello world ! Lorem ipsum dolor sit ametis leo sed purus laoreet, non vehicula sem. Etiam at est nunc.</span>
          </div>
          <div class="message-header d-flex flex-row mt-2">
              <span><fa-icon [icon]="['fas', 'check-circle']"  transform=""></fa-icon> Reçu le 10/12/2017 à 18:30</span>
          </div>
        </div>
      </div>
    </li>
    <li class="d-flex flex-row-reverse text-right">
      <div class="message-avatar mx-3 my-2">
        <img src="assets/img/devMan.png" height="75px" width="75px" class="rounded-circle"/>
      </div>
      <div class="message-content alert alert-dark border-0">
        <div class="d-flex flex-column">
          <div class="message-header d-flex flex-row-reverse mb-1">
            <span>Developer Man :</span>
          </div>
          <div class="message-text">
            <span>Hello world !</span>
          </div>
          <div class="message-header d-flex flex-row-reverse mt-2">
              <span><fa-icon [icon]="['far', 'check-circle']"  transform=""></fa-icon> Envoyé le 10/12/2017 à 18:31</span>
          </div>
        </div>
      </div>
    </li>
    <li class="d-flex flex-row">
        <div class="message-avatar mx-3 my-2">
          <img src="assets/img/canardMan.png" height="75px" width="75px" class="rounded-circle"/>
        </div>
        <div class="message-content d-flex flex-column">
          <div class="alert alert-dark border-0">
            <div class="message-header d-flex flex-row mb-1">
              <span>Canard Man :</span>
            </div>
            <div class="message-text">
              <span>Hello world ! Lorem ipsum dolor sit ametis leo sed purus laoreet, non vehicula sem. Etiam at est nunc.</span>
            </div>
            <div class="message-header d-flex flex-row mt-2">
                <span><fa-icon [icon]="['fas', 'check-circle']"  transform=""></fa-icon> Reçu le 10/12/2017 à 18:30</span>
            </div>
          </div>
        </div>
      </li>
      <li class="d-flex flex-row-reverse text-right">
        <div class="message-avatar mx-3 my-2">
          <img src="assets/img/devMan.png" height="75px" width="75px" class="rounded-circle"/>
        </div>
        <div class="message-content alert alert-dark border-0">
          <div class="d-flex flex-column">
            <div class="message-header d-flex flex-row-reverse mb-1">
              <span>Developer Man :</span>
            </div>
            <div class="message-text">
              <span>Hello world !</span>
            </div>
            <div class="message-header d-flex flex-row-reverse mt-2">
                <span><fa-icon [icon]="['far', 'check-circle']"  transform=""></fa-icon> Envoyé le 10/12/2017 à 18:31</span>
            </div>
          </div>
        </div>
      </li>
  </ul>
</div>
<footer>

</footer>

